USE [master]
GO
/****** Object:  Database [CSProject]    Script Date: 26-Jul-18 5:10:15 PM ******/
CREATE DATABASE [CSProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CSProject.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CSProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CSProject_log.ldf' , SIZE = 560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSProject]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 26-Jul-18 5:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[owner] [nvarchar](200) NULL,
	[isPublic] [bit] NULL,
	[isFolder] [bit] NULL,
	[size] [bigint] NULL,
	[parent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permits]    Script Date: 26-Jul-18 5:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permits](
	[itemID] [int] NULL,
	[username] [nvarchar](200) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SyncFolder]    Script Date: 26-Jul-18 5:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SyncFolder](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[item] [int] NULL,
	[username] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 26-Jul-18 5:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [nvarchar](200) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[isAdmin] [bit] NOT NULL,
	[usedQuota] [bigint] NULL,
	[maxQuota] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD FOREIGN KEY([owner])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD FOREIGN KEY([parent])
REFERENCES [dbo].[Items] ([id])
GO
ALTER TABLE [dbo].[Permits]  WITH CHECK ADD FOREIGN KEY([itemID])
REFERENCES [dbo].[Items] ([id])
GO
ALTER TABLE [dbo].[Permits]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[SyncFolder]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[SyncFolder]  WITH CHECK ADD FOREIGN KEY([item])
REFERENCES [dbo].[Items] ([id])
GO
USE [master]
GO
