body {
    margin: 0;
    padding: 0;
}

/*header*/
#header {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #CCC;
    box-shadow: 0 8px 6px -3px grey;
    top: 0px;
    left: 0px;
}

#logo{
    margin: 5px;
    float:left;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url("./../Image/cloudIcon.png");
}
#logoMask {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
}

#activeUser {
    margin: 20px;
    min-width: 20px;
    height: 20px;
    float: right;
    background: red;
    width: 47px;
}

#generalActions {
    float: right;
    width: 300px;
    height: 60px;
    display: flex;
    flex-direction: row;
    background: red;
    justify-content: space-around;
}

/*login*/

#login #mainDiv {
    position: fixed;
    top: 30%;
    left: 30%;
    height: 30%;
    width: 40%;
    margin: 0;
    padding: 2% 1% 2% 1%;
    display: inline-block;
    text-align: center;
    background-color: #6495ED;
    box-shadow: 0 8px 6px -3px grey
}

/*signup*/
#signup #mainDiv {
    position: fixed;
    top: 30%;
    left: 30%;
    height: 30%;
    width: 40%;
    margin: 0;
    padding: 2% 1% 2% 1%;
    display: inline-block;
    text-align: center;
    background-color: #6495ED;
    box-shadow: 0 8px 6px -3px grey
}

/*common function*/

.lblError {
    color: red;
}
