body {
    margin: 0;
    padding: 0;
}

/*header*/
#header {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #CCC;
    box-shadow: 0 8px 6px -3px grey;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#logo{
    margin: 5px;
    float:left;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url("./../Image/cloudIcon.png");
}
#logoMask {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
}

#activeUser {
    margin: 20px;
    min-width: 20px;
    height: 20px;
    float: right;
    width: 47px;
}

#generalActions {
    float: right;
    width: 300px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.generalActionsElement {
    height: 30px;
    margin: 15px;
    display: flex;
}

/*login*/

#login #mainDiv, #signup #mainDiv, #addItem #mainDiv {
    position: fixed;
    top: 30%;
    left: 30%;
    height: 200px;
    width: 500px;
    margin: 0;
    padding: 2% 1% 2% 1%;
    display: inline-block;
    text-align: center;
    background-color: #6495ED;
    box-shadow: 0 8px 6px -3px grey
}

/*itemView*/

#itemView #itemManager {
    height: 300px;
    width: 100%;
    position: fixed;
    top: 20%;
}

#itemView #itemName {
    text-align:center;
    height: 100px;
}

#itemView #Name {
    font-size: 25px;
    font-weight: bold;
}

#itemView #itemActions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#itemView .itemActionsElement {
    height: 200px;
    width: 500px;
    margin: 0;
    padding: 2% 1% 2% 1%;
    display: inline-block;
    text-align: center;
    background-color: #6495ED;
    box-shadow: 0 8px 6px -3px grey
}

/*common function*/
.mainDiv {
    position: absolute;
    top: 70px;
    width: 100%;
    min-height: 500px;
}

.lblError {
    color: red;
}

.lblNoti {
    color: aliceblue;
}

.itemDisplay{
    text-align:center;
}